/* CSS BY Valerie Cockman */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS REST */
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT VARIABLES */
:root {
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray: #1E1E1E; 
    --white: #ffffff;
}

/* GLOBAL STYLES (mobile first/small) */
body {
    max-width: 450px;
    margin: 0 auto;
    background: linear-gradient(to bottom, #6B8FE7 0%, #484FB7 100%);
    color: var(--white);
    font-family: 'Inter', sans-serif;
}

h1, h2 {
    font-family: 'kavoon', serif;
}

body, h3, h4, h5, h6, p, a, li, td, th {
    font-family: 'Inter', san-serif;
}

h1 {
    font-size: 3em;
}

nav h2 {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.15em;
}

header {
    background-color: var(--purple);
    text-align: center;
    padding: 30px 20px;
}

section img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
}

header h1 {
    margin-bottom: 10px;
    color: var(--white);
}

header p {
    font-size: 10px;
    color: var(--white);
}

header p {
    font-size: 0.9em;
    margin-top: 0;
}

/* Navigation Styling */
nav {
    background-color: var(--yellow);
    padding: 20px;
    margin-top: 20px;
}

section h4 {
    display: inline-block;
    vertical-align: middle;
}

article section:has(img[src*="personal-development"]) {
    background-color: var(--teal);
    padding: 20px;
    margin-bottom: 15px;
}

/* Career Coaching - Lavender */
article section:has(img[src*="career-coaching"]) {
    background-color: var(--lavender);
    padding: 20px;
    margin-bottom: 15px;
}

/* Relationship Coaching - Pink */
article section:has(img[src*="relationship-coaching"]) {
    background-color: var(--pink);
    padding: 20px;
    margin-bottom: 15px;
}

/* Supportive Community - Yellow */
article section:has(img[src*="supportive-community"]) {
    background-color: var(--yellow);
    padding: 20px;
    margin-bottom: 15px;
}

/* Focused Sessions - Teal */
article section:has(img[src*="focused-session"]) {
    background-color: var(--teal);
    padding: 20px;
    margin-bottom: 15px;
}

/* Interactive Learning - Lavender */
article section:has(img[src*="interactive-learning"]) {
    background-color: var(--lavender);
    padding: 20px;
    margin-bottom: 15px;
}

/* Flexible Learning - Pink */
article section:has(img[src*="flexible-learning"]) {
    background-color: var(--pink);
    padding: 20px;
    margin-bottom: 15px;