/* CSS BY Valerie Cockman */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS REST */
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT VARIABLES */
:root {
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray: #1E1E1E; 
    --white: #ffffff;
}

/* GLOBAL STYLES (mobile first/small) */
body {
    max-width: 450px;
    margin: 0 auto;
    background: linear-gradient(to bottom, #6B8FE7 0%, #484FB7 100%);
    color: var(--white);
    font-family: 'Inter', sans-serif;
}

h1, h2 {
    font-family: 'kavoon', serif;
}

body, h3, h4, h5, h6, p, a, li, td, th {
    font-family: 'Inter', san-serif;
}

h1 {
    font-size: 3em;
}

nav h2 {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.15em;
}

header {
    background-color: var(--purple);
    text-align: center;
    padding: 30px 20px;
}

section img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
}

header h1 {
    margin-bottom: 10px;
    color: var(--white);
}

header p {
    font-size: 10px;
    color: var(--white);
}

header p {
    font-size: 0.9em;
    margin-top: 0;
}

/* Navigation Styling */
nav {
    background-color: var(--yellow);
    padding: 20px;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    background-color: var(--white);
    margin-bottom: 10px;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
}

nav li:last-child {
    margin-bottom: 0;
}